@use '../../styles/theme';
.divContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100px;
  height: 41vw;
  background-color: theme.$bg-primary-color;

  .divImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 64px;
    height: 64px;
    border-radius: 5px;
    background-color: theme.$bg-secondary-color;
    .img {
      width: 32px;
      height: 32px;
    }
  }
  .divIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 5px;
    background-color: theme.$bg-secondary-color;
    margin-bottom: 20px;
    .icon {
      width: 32px;
      height: 32px;
    }
  }
  .span {
    writing-mode: vertical-rl;
    transform: scale(-1);
    color: theme.$secondary-color;
  }
}
