@use '../../../styles/theme';

.p {
    position: absolute;
    top: -175px;
    left: 165px;
    display: inline-flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    color: theme.$legend-color;

    .strong {
        color: theme.$primary-color;
        font-size: 1.5em;
    }
}
