@use '../../../styles/theme';

.p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: theme.$legend-color;

    .strong {
        color: theme.$primary-color;
        font-size: 1.5em;
    }
}