@use '../../styles/theme';

.container {
  margin: 90px 90px 0 15vw;

  .containerAllGraphs {
    position: relative;

    .span {
      font-size: 3em;
      font-weight: bold;

      .strong {
        color: theme.$third-color;
      }
    }

    .containerActivity {
      width: 55vw;
      height: 33vh;
      margin-top: 80px;
      border-radius: 10px;
      padding-bottom: 20px;
      background-color: theme.$bg-third-color;
    }

    .containerGraphs {
      display: flex;
      width: 55vw;
      height: 33vh;
      margin-top: 30px;
      gap: 30px;

      .containerAverage {
        flex-grow: 1;
        border-radius: 10px;
        background-color: theme.$bg-graph2-color;
        height: 263px;

        .average {
          z-index: 1;
        }
      }

      .containerIntensity {
        flex-grow: 1;
        border-radius: 10px;
        background-color: theme.$bg-graph3-color;
        height: 263px;

        .intensity {
          z-index: 1;
        }
      }

      .containerScore {
        position: relative;
        flex-grow: 1;
        border-radius: 10px;
        background-color: theme.$bg-third-color;
        height: 263px;
      }
    }
  }
}

.containerInfos {
  position: absolute;
  top: 375px;
  right: 12%;
}