@use '../../../styles/theme';

.divTooltip {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 5px;
  color: theme.$secondary-color;
  background-color: theme.$bg-tooltip-color;

  .p {
    margin: 0;
    padding: 10px 0;
  }
}

.text,
.ul {
  margin: 10px 20px 50px 0;
}

.ul {
  list-style: none;
  display: flex;
  justify-content: end;

  .liBlack,
  .liRed {
    display: flex;
    align-items: center;
    color: theme.$legend-color;
  }

  .liBlack::before {
    content: '\2022';
    color: theme.$bg-graph3-color;
    display: inline-block;
    width: 0.5em;
    font-size: 3em;
  }
  .liRed::before {
    content: '\2022';
    color: theme.$bg-tooltip-color;
    display: inline-block;
    width: 0.5em;
    font-size: 3em;
    margin-left: 50px;
  }
}
